<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
 <html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
xmlns:p="http://primefaces.org/ui">


 <h:head>
	
</h:head>
<h:body>
  <h:form enctype="multipart/form-data">
            <h:outputText value="Dosya Seçin"/>
            
            <h:inputFile  value="#{uploadfilebean.file}"/>
            <h:commandButton value="GÖNDER" action="#{uploadfilebean.upload()}"/>
        </h:form>
</h:body>
</html>