<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 <html xmlns = "http://www.w3.org/1999/xhtml"
   xmlns:f = "http://java.sun.com/jsf/core"    
   xmlns:h = "http://java.sun.com/jsf/html"
   xmlns:p="http://primefaces.org/ui">
<h:head>  
<title>User Registration Form</title>  
   <style>
        #formdiv {
            margin: 0 auto;
        }
    </style>
</h:head>  

<h:body>  


<style>
body {
    background-image: url("https://kunduz.com/wp-content/uploads/2019/10/alfons-morales-YLSwjSy7stw-unsplash-e1571348625761-768x384.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment:fixed;

}

</style>
<script type="text/css">
    html, body
    {
        margin:0px;
        padding:0px;
        width:100%;
        min-height:100%;
        height:100%;
    }
    .outer_table
    {
        width:100%;
        height:100%;
    }
</script>
     <h:form>
    <h:commandButton value="LOGIN"  action="/login.xhtml"  />
</h:form>



<h:form style ="color:white"> 
            <tr>
                <td>
                    <table width="500" height="300" border="0" align="center">
                        
                        <tr>
                            <td align="center">
                                       
              <h:selectOneRadio value = "#{userbean.position}">
            <f:selectItem itemValue = "User" itemLabel = "As User" />
            <f:selectItem itemValue = "Author" itemLabel = "As Author" />
          	</h:selectOneRadio>	
          	
                              <h:panelGrid columns="2" cellpadding="5">
                                E-mail:<h:inputText id="e-mail"  value = "#{userbean.e_mail}" style="color:red"></h:inputText>
                           
                        
                                Username:<h:inputText id="username"  value = "#{userbean.userName}" style="color:red"></h:inputText>
                           
                                Password:<h:inputText id="password"  value = "#{userbean.password}" style="color:red"></h:inputText>
                              
                                Password again:<h:inputText id="pw-again"  value = "#{userbean.pw_again}" style="color:red"></h:inputText>
                           
                            </h:panelGrid>
                                                    <h:commandButton value = "register" action = "#{userbean.createUser()}">
                                                    <h:outputText value="#{userbean.info}"></h:outputText>
                                                    </h:commandButton>
														                            
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
    </h:form>
    




</h:body>
</html>  