<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
   <html xmlns = "http://www.w3.org/1999/xhtml"
   xmlns:f = "http://java.sun.com/jsf/core"    
   xmlns:h = "http://java.sun.com/jsf/html"
   	xmlns:c ="http://java.sun.com/jsp/jstl/core"
   
   xmlns:p="http://primefaces.org/ui">




 <h:head>
<title>User Registration Form</title>  
</h:head>

<h:body>
   
<style>
body {
    background-image: url("https://kunduz.com/wp-content/uploads/2019/10/alfons-morales-YLSwjSy7stw-unsplash-e1571348625761-768x384.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment:fixed;

}

</style>
<script type="text/css">
    html, body
    {
        margin:0px;
        padding:0px;
        width:100%;
        min-height:100%;
        height:100%;
    }
    .outer_table
    {
        width:100%;
        height:100%;
    }
</script>

<table width="500" height="300" border="0" align="center">
    <h:form style="color:white">
    <td align="center">
         <h:panelGrid id = "panel" columns = "2" border = "1"
            cellpadding = "10" cellspacing = "1">
            
            <f:facet name = "header">
               <h:outputText value = "Login" style="color:white"/>
            </f:facet>
            <h:outputLabel value = "email" style="color:white" />
            <h:inputText   id="username"  value = "#{loginbean.email}" />
            <h:outputLabel value = "Password" style="color:white" />
            <h:inputSecret  id="password"  value = "#{loginbean.password}" />
            
            <f:facet name = "footer">
               <h:panelGroup style = "display:block; text-align:center">
                  <h:commandButton id = "submit" value = "submit" action = "#{loginbean.controlling()}">
                   
                  </h:commandButton>
                                                                                        
               </h:panelGroup>
            </f:facet>
         </h:panelGrid>
         </td>
         
      
      </h:form>
</table>
  
   
   
</h:body>
</html>