<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
  <html xmlns = "http://www.w3.org/1999/xhtml"
 xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:h = "http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c ="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">
	
	
	
	 <h:head>
	<script name="jquery/jquery.js" library="primefaces"></script>
	
</h:head>

<h:body>
<c:set var="user" value="#{loginbean.email}"></c:set>

<table width="500" height="0" border="0" align="center">
    <h:form style="color:white">
    <td >
         <h:panelGrid id = "panel" columns = "3" border = "1"
            cellpadding = "10" cellspacing = "1">
            
            
           <p:commandLink value="MyLibrary"  ajax="false" action="/sayfa.xhtml"></p:commandLink>
         

			<p:commandLink value="Release Book" ajax="false" action="/releasebook.xhtml"></p:commandLink>            
       
           <p:commandLink value="Market" action="/market.xhtml"></p:commandLink>
         
           
         </h:panelGrid>
         </td>
         
      
      </h:form>
</table>



             
             <h:form id="form3">
             
    <ui:repeat value="#{marketbean.init()}" var="book">
    
        <h:panelGrid columns="2" style="width:100%" columnClasses="logo,detail">
            
                <p:commandLink  action="#{marketbean.addtoLibrary(book,user)}">
                <f:setPropertyActionListener value="#{book}" target="#{marketbean.selectedBook}" />
<h:graphicImage url= "/plus.jpg" alt="photo is not visible." width="50px" height="50px"></h:graphicImage>
            </p:commandLink>
           
 
            <p:outputPanel>
                <h:panelGrid columns="2" cellpadding="5">
                    <h:outputText value="Book Name:" />
                    <h:outputText value="#{book.bookName}" style="font-weight: bold"/>
 
                    <h:outputText value="Author:" />
                    <h:outputText value="#{book.author}" style="font-weight: bold"/>
 
                    <h:outputText value="ISBN:" />
                    <h:outputText value="#{book.ISBN}" style="font-weight: bold"/>
                    
                    <h:outputText value="Description" />
                    <h:outputText value="#{book.description}" style="font-weight: bold"/>
                    
                    
                    <p:commandButton rendered="#{marketbean.canDelete(book,user) eq 1}" value="delete" action="#{marketbean.delete(book)}"></p:commandButton>
					               
</h:panelGrid>
            </p:outputPanel>
        </h:panelGrid>
        <hr />
    </ui:repeat>
 

</h:form>
                 
             
             
             
             
             
             

</h:body>


</html>