<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
  <html xmlns = "http://www.w3.org/1999/xhtml"
 xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:h = "http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c ="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">
	
	
	
	 <h:head>
	<script name="jquery/jquery.js" library="primefaces"></script>
	
</h:head>

<h:body>
<c:set var="user" value="#{loginbean.email}"></c:set>


<table width="500" height="0" border="0" align="center">
    <h:form style="color:white">
    <td >
         <h:panelGrid id = "panel" columns = "3" border = "1"
            cellpadding = "10" cellspacing = "1">
            
            
            <p:commandLink value="MyLibrary"  ajax="false" action="/sayfa.xhtml"></p:commandLink>
         

			<p:commandLink value="Release Book" ajax="false" action="/releasebook.xhtml"></p:commandLink>            
       
           <p:commandLink value="Market"  ajax="false" action="/market.xhtml"></p:commandLink>
           
           
         </h:panelGrid>
         </td>
         
      
      </h:form>
</table>





<h:form id="myform8"  >



    <h:messages globalOnly="true" style="color:red;margin:8px;" />
  
    <h:outputText value="Book Name: "/>
    <h:inputText label="BookName" value="#{uploadfilebean.bookname}" /><br/><br/>
    <h:outputText value="ISBN: "/>
    <h:inputText label="ISBN" value="#{uploadfilebean.isbn}" /><br/><br/>
    <h:outputText value="Description: "/>
    <h:inputText label="description" value="#{uploadfilebean.description}" /><br/><br/>



         <p:fileUpload  fileUploadListener="#{uploadfilebean.upload}" mode="advanced" dragDropSupport="false" update="messages" sizeLimit="100000000" fileLimit="3" allowTypes="/(\.|\/)(gif|jpe?g|png|txt|pdf)$/"
        > </p:fileUpload>
         <p:growl id="messages" showDetail="true" />
         <h3>Maximum size: 1 MB</h3>
             <h:commandButton value="login" action="#{uploadfilebean.sellBook(user)}" />
         
      </h:form>





</h:body>


</html>