<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
  <html xmlns = "http://www.w3.org/1999/xhtml"
 xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:h = "http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c ="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">
   
   

 <h:head>
	<script name="jquery/jquery.js" library="primefaces"></script>
	
</h:head>
<h:body>
<c:set var="user" value="#{loginbean.email}"></c:set>
<c:set target="#{uploadfilebean}" property="name" value="#{loginbean.email}"></c:set>



<h:form style="width:500px;" id="hkjhgkhg">
	<p:tabView activeIndex="#{tabMenuManagedBean.index}" dynamic="false" id="ohoho">
		<p:tab title="Market">
				
		
		<h:graphicImage url= "/PP.jpg" alt="photo is not visible." width="50px" height="50px"></h:graphicImage>

		
			<c:set var="name" value="#{marketbean.init()}"></c:set> 
		
             
            <ui:repeat var="name1" value="#{marketbean.init()}">
                        <h:outputText value="#{name1.author}"/><br/>
                    </ui:repeat>
             
             
             
             
             <h:form id="form3">
             
    <ui:repeat value="#{marketbean.init()}" var="book">
    
        <h:panelGrid columns="2" style="width:100%" columnClasses="logo,detail">
            
                <p:commandLink  action="#{marketbean.addtoLibrary(book,user)}">
                <f:setPropertyActionListener value="#{book}" target="#{marketbean.selectedBook}" />
<h:graphicImage url= "/PP.jpg" alt="photo is not visible." width="50px" height="50px"></h:graphicImage>
            </p:commandLink>
           
 
            <p:outputPanel>
                <h:panelGrid columns="2" cellpadding="5">
                    <h:outputText value="Book Name:" />
                    <h:outputText value="#{book.bookName}" style="font-weight: bold"/>
 
                    <h:outputText value="Author:" />
                    <h:outputText value="#{book.author}" style="font-weight: bold"/>
 
                    <h:outputText value="ISBN:" />
                    <h:outputText value="#{book.ISBN}" style="font-weight: bold"/>
                    
                    
                    <p:commandButton rendered="#{marketbean.canDelete(book,user) eq 1}" value="delete" action="#{marketbean.delete(book)}"></p:commandButton>
					               
</h:panelGrid>
            </p:outputPanel>
        </h:panelGrid>
        <hr />
    </ui:repeat>
 

</h:form>
                 
             
             
             
             
             
             
             
             
		
		
		</p:tab>
		
		
		<p:tab title="My Library">

<h:form id = "read">
 <ui:repeat value="#{librarybean.ShowMeLibrary(user)}" var="boook">
    
        <h:panelGrid columns="2" style="width:100%" columnClasses="logo,detail">
            
                <p:commandLink id="qwewq"  action="#{marketbean.openFile(boook.fileName)}">

<h:graphicImage id="dhdghdf" url= "/PP.jpg" alt="photo is not visible." width="50px" height="50px"></h:graphicImage>
            </p:commandLink>
           
 
            <p:outputPanel>
                <h:panelGrid id="ododfog" columns="2" cellpadding="5">
                    <h:outputText value="Book Name:" />
                    <h:outputText value="#{boook.b_name}" style="font-weight: bold"/>
 
                    <h:outputText value="Author:" />
                    <h:outputText value="#{boook.usermail}" style="font-weight: bold"/>
                      <h:commandLink id="abcdd" value="tıklasana" action="#{librarybean.downloadAction(book.fileName)}"></h:commandLink>
 
                               
                    
                </h:panelGrid>
            </p:outputPanel>
            
        </h:panelGrid>
        <hr />
        
    </ui:repeat>
 

</h:form>
    
   
    </p:tab>
    <p:tab title="abdc" id="rtytry">
    

    </p:tab>
    
    
	</p:tabView>
</h:form>




<h:form id="myform8"  >



    <h:messages globalOnly="true" style="color:red;margin:8px;" />
  
    <h:outputText value="Book Name: "/>
    <h:inputText label="BookName" value="#{uploadfilebean.bookname}" /><br/><br/>
    <h:outputText value="ISBN: "/>
    <h:inputText label="ISBN" value="#{uploadfilebean.isbn}" /><br/><br/>
    <h:outputText value="Description: "/>
    <h:inputText label="description" value="#{uploadfilebean.description}" /><br/><br/>



         <p:fileUpload  fileUploadListener="#{uploadfilebean.upload}" mode="advanced" dragDropSupport="false" update="messages" sizeLimit="100000000" fileLimit="3" allowTypes="/(\.|\/)(gif|jpe?g|png|txt|pdf)$/"
        > </p:fileUpload>
         <p:growl id="messages" showDetail="true" />
         <h3>Maximum size: 1 MB</h3>
             <h:commandButton value="login" action="#{uploadfilebean.sellBook(user)}" />
         
      </h:form>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      

      
</h:body>
</html>